[Desktop Entry]
Version=1.0
Name=Nodestats 
Comment=Nodestats P2P Cryptocurrency
Comment[fr]=Nodestats, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nodestats, eşten eşe kriptografik sanal para birimi
Exec=ns-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/ns;
Categories=Office;Finance;
StartupWMClass=ns-qt
