[Desktop Entry]
Encoding=UTF-8
Name=Nodestats
Comment=Nodestats P2P Cryptocurrency
Comment[fr]=Nodestats, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nodestats, eşten eşe kriptografik sanal para birimi
Exec=nodestats-qt %u
Terminal=false
Type=Application
Icon=nodestats128
MimeType=x-scheme-handler/nodestats;
Categories=Office;Finance;
